/* MYLIGHTHOUSESOLAR.com */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– resets */

html{color:#000;background:#FFF;}*{outline:none;}*,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{outline:none;border:0;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}header,footer,section,aside,nav,article{display:block;}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

body { background:white; color:black; font-family:'Helvetica Neue', Arial, sans-serif; font-size:10pt; }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

a { color:#333; }
a:visited { color:#333; }
a:hover {  }
a:active { outline:none; }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

h1.page-head { font-size:9pt; color:black; font-weight:normal; text-transform:uppercase; }

table { width:650px; }

caption, .caption { padding:5px 8px 3px; text-align:left; text-transform:uppercase; font-size:6pt; font-weight:bold; color:#333;
	border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -khtml-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;
	background-image: -webkit-gradient(linear, 0% 175%, 0% 0%, from(rgb(255,255,255)), to(rgb(201,210,231)));
	background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) -75%, rgb(201,210,231) 100%);
}
.caption { display:block; }

.prop-header-txt { color:#666; text-transform:uppercase; font-size:6pt; line-height:9pt; }
.prepared { font-size:11pt; color:#333; line-height:14pt; text-transform:none; }

.pie-back { border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -khtml-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; width:650px; background:#fcfcfc; }

tbody.tabled { border-top:1px solid #ccc; }

th { font-size:8pt; color:#666; font-weight:bold; border-bottom:1px solid #ccc; vertical-align:bottom; padding:5px; line-height:11pt; }

td { font-size:8pt; padding:5px 8px 3px; }
td.lighter { color:#666; }
td.big { color:white; font-weight:bold; font-size:9pt; }
td.ex { color:#666; }

td.cell-foot { font-size:6pt; line-height:7pt; padding:0; }

#financials-table td { font-size:7pt !important; padding:1pt 5pt !important; }
td div.cell-round {
	width:180px; height:170px; padding:10px;
	border:none; border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px;
}
td div.cell-round p { 
	position:relative; top:110px; width:160px; padding:10px; text-align:center; font-weight:normal; font-size:14px; 
	background:rgba(255,255,255,.8); color:#5880c0; text-transform:uppercase;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.clear { clear:both; }
.left { float:left; }
.right { float:right; }
.column { float:left; margin:0 5px 0 0; }
.light { background:#fefefe; }
.dark { background:#eeeeee; }
.darker { background:#333333; }
.round-l { border-radius:0 0 0 5px; -moz-border-radius:0 0 0 5px; -khtml-border-radius:0 0 0 5px; -webkit-border-radius:0 0 0 5px; }
.round-r { border-radius:0 0 5px 0; -moz-border-radius:0 0 5px 0; -khtml-border-radius:0 0 5px 0; -webkit-border-radius:0 0 5px 0; }
.blue { background:#5880c0; }
.yellow { background:#ffe93a; }
.green { background:#b1cd49; }
.red-txt { color:red; }
.green-txt { color:green; }
.green-line { width:100%; height:3px; background:#b1cd49; }
.white-line { width:100%; height:3px; background:white; }
.hide { visibility:hidden; display:none; }
.super { font-size:8px; vertical-align:super; }
.super-small { font-size:6px; vertical-align:super; }
.sub { font-size:8px; vertical-align:sub; }

.page { font-size:9pt; color:#333; line-height:12pt; padding:0 20px 0 10px; width:650px; }
.page a { }
.page a:hover { text-decoration:none; font-style:italic; }

.layout-img { border-top:1px solid #ccc; }

.prop-section {  }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#wrap { padding:20pt; }
.proposal-head { border-bottom:1px solid #b1cd49; margin:0 0 20px 0; width:664px; }
#proposal-content a:link:after, #proposal-content a:visited:after {
   content:" (" attr(href) ") ";
   font-size:90%;
}
.fake-break { margin:100px 0 100px 0; border-top:1px dashed #aaa; width:664px; }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/