/* MYLIGHTHOUSESOLAR.com Printer */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– resets */

html{color:#000;background:#FFF;}*{outline:none;}*,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{outline:none;border:0;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}header,footer,section,aside,nav,article{display:block;}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

body { background:white; color:black; font-family:'Helvetica Neue', Arial, sans-serif; font-size:10pt; }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

a { color:#222222; }
a:hover {  }
a:active { outline:none; }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

h1.page-head { font-size:10pt; color:black; font-weight:normal; text-transform:uppercase; }
#prop-overview p { line-height:14pt; width:650px; }
img { outline:none; border:0; }
table { width:650px; }
caption { padding:0 0 10pt 0; text-align:left; text-transform:uppercase; font-size:10pt; font-weight:bold; color:#aaa; }
.caption { padding:0 0 10pt 0; text-align:left; text-transform:uppercase; font-size:10pt; font-weight:bold; color:#aaa; }
th { font-size:8pt; color:#666; font-weight:normal; border-bottom:1px solid #ccc; padding-bottom:2pt; }
#financials-table td { font-size:7pt !important; padding:1pt 5pt !important; }
td { padding:4pt 5pt 2pt 5pt; font-size:9pt; }
th.cell-indent { padding:0 0 0 10pt; }
th.cell-narrow { padding:0 10pt 0 0; font-size:8pt; color:#666; font-weight:normal; border-bottom:1px solid #ccc; }
td.cell-indent { padding:4pt 0 2pt 10pt; }
td.cell-credit { color:red; }
td.cell-total { font-weight:bold; }
td.cell-rebate { color:green; font-weight:bold; }
td.cell-foot { padding:10pt 0 2pt 0; line-height:10pt; font-size:7pt; color:#666; }
td.cell-emphasis { font-size:12pt; }
td div.cell-round {
	width:180px; height:170px; padding:10pt;
	border:none; border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px;
}
td div.cell-round p { 
	position:relative; top:110px; width:160px; padding:10px; text-align:center; font-weight:normal; font-size:14pt; 
	background:rgba(255,255,255,0.8); color:#5880c0; text-transform:uppercase;
};

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.clear { clear:both; }
.left { float:left; }
.right { float:right; }
.column { float:left; margin:0 5pt 0 0; }
.light { background:#fff; }
.dark { background:#f1f1f1; }
.blue { background:#5880c0; }
.yellow { background:#ffe93a; }
.green { background:#b1cd49; }
.green-line { width:100%; height:3px; background:#b1cd49; }
.white-line { width:100%; height:3px; background:white; }
.hide { visibility:hidden; display:none; }
.super { font-size:6pt; vertical-align:super; }
.sub { font-size:8pt; vertical-align:sub; }

.page { font-size:10pt; color:#333; line-height:12pt; padding:0 20pt 0 10pt; }
.page a { }
.page a:hover { text-decoration:none; font-style:italic; }
.overview-pics {
	width:180px; margin:0 0 0 450px; padding:10pt 10pt 0 10pt; background:#eee;
	border:none; border-radius:10px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px;
}
.overview-pics > img { margin:0 0 10pt 0; }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

#wrap { padding:20pt; }
#proposal-content {  }
#proposal-content > .page { }
#visualize-area table, #visualize-bar table, #visualize-line table { display:none; }
.proposal-head { border-bottom:1px solid #b1cd49; margin:0 0 20px 0; width:662px; }
#proposal-content a:link:after, #proposal-content a:visited:after {
   content:" (" attr(href) ") ";
   font-size:90%;
}
.fake-break { }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/