/*visualize extension styles*/
.vis table { display:none; }

.visualize { background:#eee; border:none; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.visualize canvas { border:1px solid #ddd; margin:-1px; background:#fff; }
.visualize .visualize-title { position:absolute; top:20px; color:#333; margin-bottom:0; left:0; text-align:center; font-size:10px; font-weight:bold; width:100%; text-transform:uppercase; }
.visualize-labels-x, .visualize-labels-y { top:50px; left:70px; z-index:100; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { color:#333; font-size:9px; padding-right:5px; }
.visualize-labels-y li span.line { border-style:dotted;  opacity:0.6; }
.visualize .visualize-info { border:0; position:static;  opacity:1; background:none; }
.visualize ul.visualize-key { position:absolute; bottom:10px; background:#ddd; z-index:10; padding:10px 0; color:#333; width:100%; left:0;  }
.visualize ul.visualize-key li { font-size:11px;  margin-left:25px; padding-left:18px; }
.visualize ul.visualize-key .visualize-key-color { width:10px; height:10px;  margin-top:-6px; }
.visualize ul.visualize-key .visualize-key-label { color:#333; }
.visualize .visualize-x-title { position:absolute; color:#333; margin-bottom:0; left:0; text-align:center; font-size:11px; width:100%; }

.vis-pie .visualize { padding:0; background:none; border:none; }
.vis-pie .visualize canvas { border:none; margin:0; background:none; }
.vis-pie .visualize .visualize-title { display:none; }
.vis-pie .visualize .visualize-info { width:1000em; }
.visualize-pie .visualize-labels { position:absolute; }
.visualize-pie .visualize-label { color:white; }
.vis-pie .visualize ul.visualize-key { position:absolute; background:none; z-index:10; padding:none; left:0; top:0; bottom:0; padding:0; width:auto; }
.vis-pie .visualize ul.visualize-key li { position:absolute; font-size:10px; margin:0; padding:0; white-space:nowrap; }
.vis-pie .visualize ul.visualize-key .visualize-key-color { display:none; }
.vis-pie .visualize ul.visualize-key .visualize-key-label { color:#666; display:block; }
.vis-pie .visualize .visualize-x-title { display:none; }

.vis-area .visualize { padding:50px 30px 100px 70px; }
.vis-area .visualize .visualize-x-title { bottom:60px; }

.vis-bar-performance .visualize { padding:50px 30px 55px 70px; }
.vis-bar-performance .visualize .visualize-x-title { bottom:10px; }

.vis-bar-financial .visualize { padding:50px 30px 95px 70px; }
.vis-bar-financial .visualize .visualize-x-title { bottom:50px; }

.vis-line .visualize { padding:50px 30px 100px 70px; }
.vis-line .visualize .visualize-x-title { bottom:60px; }